* {
	box-sizing:border-box;
}
.menu {
	padding:0;
	margin: 0 0 30px 0;
	width:900px;
	margin:0 auto;
	background-color: #E6E6FA;
	align-items: center;
}
.menu li {
	display: inline-block;
	padding: 8px 15px;
	line-height: 100px;
    float: left;
    background-color: #E6E6FA;
}
.main {
	width:900px;
	margin:0 auto;
	border: 5px solid lightgoldenrodyellow;
	clear:both;
	padding: 5px 20px;
	background-color: #E6E6FA;
}
.footer {
	width:900px;
	margin:30px auto 0 auto;
	background-color: #E6E6FA;
	padding: 15px 10px;
}

p {
	font-size: 19px;
}

.main_foto {
	position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    padding-left: 15px;
	}

td {
	padding-left: 15px;
}

.chelka {
	
}
